<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
       PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
       "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.GroupProject.dao.CalendarDao">
	<insert id="create">
		insert into calendar (calendar_id, calendar_title,
		calendar_description, calendar_start_date, calendar_end_date,calendar_status,calendar_photo)
		values
		(#{calendarId}, #{calendarTitle}, #{calendarDescription},
		#{calendarStartDate},
		#{calendarEndDate},#{calendarStatus},#{calendarPhoto}
		)
	</insert>

	<update id="updateDataById">
		update calendar set
		calendar_title = #{calendarTitle},
		calendar_description = #{calendarDescription},
		calendar_start_date = #{calendarStartDate},
		calendar_end_date = #{calendarEndDate},
		calendar_status = #{calendarStatus},
		calendar_photo = #{calendarPhoto}		
		where calendar_id = #{calendarId}
	</update>
	
    <select id="findActivitiesByDateRange"
		resultType="com.example.GroupProject.dto.Calendar">
		SELECT * FROM calendar
		WHERE
		calendar_start_date <![CDATA[ <= ]]> #{endDate}
		AND calendar_end_date <![CDATA[ >= ]]> #{startDate}
    </select>
	

	<select id="selectByIdList">
		select * from calendar where calendar_id = #{calendarId} 
		<foreach item="idItem" collection="idList" open="and id in ("
			separator="," close=")">
			#{idItem}
		</foreach>
	</select>
    
    <select id="findActivitiesByDate"
		resultType="com.example.GroupProject.dto.Calendar">
		SELECT * FROM calendar
		WHERE
		calendar_start_date <![CDATA[ <= ]]>
		#{checkDate}
		AND calendar_end_date <![CDATA[ >= ]]>
		#{checkDate}
	</select>
	
	<delete id="deleteById">
		delete from calendar where calendar_id =
		#{calendarId} </delete>


</mapper>
