<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.GroupProject.dao.OptionDao">

	<!-- 新增客製化 -->
	<insert id="addOption">
		INSERT INTO options(option_id, option_name,
		option_detail, category_id)
		VALUES (#{optionId}, #{optionName},
		#{optionDetail}, #{categoryId})
	</insert>

	<!-- 刪除客製化 -->
	<delete id="delOptionById">
		DELETE FROM options
		WHERE option_id = #{optionId}
	</delete>

	<!-- 確認客製化存在數量 -->
	<select id="checkOptionExist" resultType="int">
		SELECT COUNT(1) FROM
		options WHERE option_id = #{optionId}
	</select>
	
	<!-- 客製化名稱重複 -->
	<select id="checkOptionName" resultType="boolean">
		SELECT
		COUNT(*) > 0
		FROM options
		WHERE option_name = #{optionName}
	</select>

</mapper>