<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.GroupProject.dao.ProductDao">

	<!-- 新增商品 -->
	<insert id="addProduct"
		parameterType="com.example.GroupProject.dto.ProductDto">
		INSERT INTO product ( product_id,
		product_name,
		product_price, product_active, product_description,
		image_url,
		product_note, category_id
		) VALUES ( #{productId}, #{productName},
		#{productPrice}, #{productActive},
		#{productDescription}, #{imageUrl},
		#{productNote}, #{categoryId})
	</insert>

	<!-- 透過分類ID查詢商品 -->
	<select id="getProductList"
		resultType="com.example.GroupProject.dto.ProductDto">
		SELECT * FROM product WHERE category_id = #{categoryId}
	</select>

	<select id="getUserProductList"
		resultType="com.example.GroupProject.dto.ProductDto">
		SELECT product_id,
		product_name,
		product_price,
		product_active,
		product_description,
		image_url,
		product_note,
		category_id
		FROM product
		WHERE category_id = #{categoryId}
		AND product_active = 1
	</select>

</mapper>