<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 對應 DAO -->
<mapper namespace="com.example.GroupProject.dao.ReservationDao">


	<!-- 對應 DTO 欄位的 resultMap -->
	<resultMap id="ReservationMap"
		type="com.example.GroupProject.dto.ReservationDto">

		<result property="reservationDate" column="reservation_date" />      <!-- DATE 預約日期 -->
		<result property="reservationPhone" column="reservation_phone" />    <!-- VAR(45) 預約電話 -->
		<result property="reservationTime" column="reservation_time" />      <!-- TIME 預約時間 -->
		<result property="reservationName" column="reservation_name" />      <!-- VAR(100) 預約人姓名 -->
		<result property="reservationCount" column="reservation_count" />    <!-- INT 用餐人數 -->
		<result property="reservationStatus"
			column="reservation_status" />  <!-- TINYINT 預約狀態 -->
		<result property="reservationNote" column="reservation_note" />      <!-- VAR(200) 備註 -->
		<result property="tableId" column="table_id" />                        <!-- VAR(20) 桌位編號 -->

	</resultMap>


	<!-- 新增訂位 -->
	<insert id="createReservation"
		parameterType="com.example.GroupProject.dto.ReservationDto">
		INSERT INTO reservation
		(reservation_date, reservation_phone, reservation_time, reservation_name,
		reservation_count, reservation_status, reservation_note, table_id)
		VALUES
		(#{reservationDate}, #{reservationPhone}, #{reservationTime}, #{reservationName},
		#{reservationCount}, #{reservationStatus}, #{reservationNote},
		#{tableId})
	</insert>

</mapper>