<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 對應 DAO -->
<mapper namespace="com.example.GroupProject.dao.ReservationDao">


	<!-- 對應 DTO 欄位的 resultMap -->
	<resultMap id="ReservationMap"
		type="com.example.GroupProject.dto.ReservationDto">

		<!-- 複合主鍵 -->
		<id property="reservationDate" column="reservation_date" />      <!-- DATE 預約日期 -->
		<id property="reservationPhone" column="reservation_phone" />    <!-- VAR(45) 預約電話 -->

		<!-- 一般欄位 -->
		<result property="reservationTime" column="reservation_time" />      <!-- TIME 預約時間 -->
		<result property="reservationName" column="reservation_name" />      <!-- VAR(100) 預約人姓名 -->
		<result property="reservationCount" column="reservation_count" />    <!-- INT 用餐人數 -->
		<result property="reservationAdultCount"
			column="reservation_adult_count" />    <!-- INT 用餐大人人數 -->
		<result property="reservationChildCount"
			column="reservation_child_count" />    <!-- INT 用餐小孩人數 -->
		<result property="reservationStatus"
			column="reservation_status" />  <!-- TINYINT 預約狀態 -->
		<result property="reservationNote" column="reservation_note" />      <!-- VAR(200) 備註 -->
		<result property="childSeat"
			column="child_seat" />    <!-- INT 安全座椅數量 -->
		<!-- 外鍵（FK） -->
		<result property="tableId" column="table_id" />                        <!-- VAR(20) 桌位編號 -->

	</resultMap>


	<!-- 新增訂位 -->
	<insert id="createReservation"
		parameterType="com.example.GroupProject.dto.ReservationDto">
		INSERT INTO reservation
		(reservation_date,
		reservation_phone, reservation_time, reservation_name,
		reservation_adult_count, reservation_child_count, reservation_count, 
		reservation_status, child_seat, reservation_note,
		table_id)
		VALUES
		(#{reservationDate}, #{reservationPhone}, #{reservationTime},
		#{reservationName}, #{reservationAdultCount},
		#{reservationChildCount}, #{reservationCount},
		#{reservationStatus}, #{childSeat},
		#{reservationNote}, #{tableId})
	</insert>

	<!-- 查詢所有訂位列表 -->
	<select id="getReservationList"
		resultType="com.example.GroupProject.dto.ReservationDto">
		SELECT * FROM reservation
	</select>

	<!-- 查詢一筆訂位資料 -->
	<select id="findByDateAndPhone"
		resultType="com.example.GroupProject.dto.ReservationDto">
		SELECT * FROM reservation
		WHERE reservation_date = #{reservationDate}
		AND reservation_phone = #{reservationPhone}
		AND reservation_status = 0
	</select>

	<!-- 查詢同一天、同電話的預約數量 -->
	<select id="countByDateAndPhone" resultType="int">
		SELECT COUNT(1)
		FROM
		reservation
		WHERE reservation_date = #{reservationDate}
		AND
		reservation_phone = #{reservationPhone}
		AND reservation_status = 0
	</select>
	
	<!-- 查詢同一天、同時段兒童座椅的使用數量 -->
    <select id="sumChildSeatsByDateAndTime" resultType="int">
    SELECT 
        COALESCE(SUM(child_seat), 0)
    FROM 
        reservation
    WHERE 
        reservation_date = #{reservationDate} 
        AND reservation_time = #{reservationTime}
    </select>

	<!-- 查詢該時段之該桌號是否已預定 -->
	<select id="isTableReservedAtSameTime" resultType="boolean">
    <![CDATA[
    SELECT COUNT(1) > 0
    FROM reservation
    WHERE table_id = #{tableId}
      AND reservation_date = #{reservationDate}
      AND reservation_time = #{reservationTime}
      AND reservation_status = 0  -- 未報到或有效預約
    ]]>
	</select>

	<!-- 刪除訂位 -->
	<delete id="deleteReservation">
		DELETE FROM reservation
		WHERE reservation_date =
		#{reservationDate}
		AND reservation_phone = #{reservationPhone}
	</delete>

	<!-- 查詢一天的訂位資訊(含桌位) -->
	<select id="findReservationsByDate"
		resultType="com.example.GroupProject.dto.ReservationAndTableByDate">
		SELECT
		r.reservation_date,
		r.reservation_time,
		r.reservation_phone,
		r.reservation_name,
		r.reservation_count,
		r.reservation_adult_count,
		r.reservation_child_count,
		r.reservation_status,
		r.child_seat,
		r.reservation_note,
		r.table_id, -- 從 Reservation 表取得桌號

		t.table_status, -- 從 Table 表取得狀態
		t.table_capacity -- 從 Table 表取得容量
		FROM
		reservation r
		JOIN
		tables t ON r.table_id = t.table_id
		WHERE
		r.reservation_date = #{reservationDate}
		ORDER BY
		r.reservation_time ASC
	</select>

</mapper>