<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 對應 DAO -->
<mapper namespace="com.example.GroupProject.dao.ReservationDao">


<resultMap id="ReservationAndTableByDateResultMap"
    type="com.example.GroupProject.dto.ReservationAndTableByDate">
    <!-- 桌位資訊 -->
    <id property="tableId" column="table_id" />
    <result property="capacity" column="capacity" />
    <result property="tableDailyStatus" column="table_daily_status" />

    <!-- 訂位集合 -->
    <collection property="reservations"
        ofType="com.example.GroupProject.dto.ReservationDto">
        <!-- 用複合 id -->
        <id property="reservationDate" column="reservation_date" />
        <id property="reservationPhone" column="reservation_phone" />
        
        <result property="reservationTime" column="reservation_time" />
        <result property="reservationName" column="reservation_name" />
        <result property="reservationCount" column="reservation_count" />
        <result property="reservationAdultCount" column="reservation_adult_count" />
        <result property="reservationChildCount" column="reservation_child_count" />
        <result property="reservationStatus" column="reservation_status" />
        <result property="reservationNote" column="reservation_note" />
        <result property="childSeat" column="child_seat" />
    </collection>
</resultMap>


	<!-- 新增訂位 -->
	<insert id="createReservation"
		parameterType="com.example.GroupProject.dto.ReservationDto">
		INSERT INTO reservation
		(reservation_date,
		reservation_phone, reservation_time, reservation_name,
		reservation_adult_count, reservation_child_count, reservation_count,
		reservation_status, child_seat, reservation_note,
		table_id)
		VALUES
		(#{reservationDate}, #{reservationPhone}, #{reservationTime},
		#{reservationName}, #{reservationAdultCount},
		#{reservationChildCount}, #{reservationCount},
		#{reservationStatus},
		#{childSeat},
		#{reservationNote}, #{tableId})
	</insert>

	<!-- 查詢所有訂位列表 -->
	<select id="getReservationList"
		resultType="com.example.GroupProject.dto.ReservationDto">
		SELECT * FROM reservation
	</select>

	<!-- 查詢一筆訂位資料 -->
	<select id="findByDateAndPhone"
		resultType="com.example.GroupProject.dto.ReservationDto">
		SELECT * FROM reservation
		WHERE reservation_date =
		#{reservationDate}
		AND reservation_phone = #{reservationPhone}
		AND
		reservation_status = 0
	</select>

	<!-- 查詢同一天、同電話的預約數量 -->
	<select id="countByDateAndPhone" resultType="int">
		SELECT COUNT(1)
		FROM
		reservation
		WHERE reservation_date = #{reservationDate}
		AND
		reservation_phone = #{reservationPhone}
		AND reservation_status = 0
	</select>

	<!-- 查詢同一天、同時段兒童座椅的使用數量 -->
	<select id="sumChildSeatsByDateAndTime" resultType="int">
		SELECT
		COALESCE(SUM(child_seat), 0)
		FROM
		reservation
		WHERE
		reservation_date =
		#{reservationDate}
		AND reservation_time = #{reservationTime}
	</select>

	<!-- 查詢該時段之該桌號是否已預定 -->
	<select id="isTableReservedAtSameTime" resultType="boolean">
    <![CDATA[
    SELECT COUNT(1) > 0
    FROM reservation
    WHERE table_id = #{tableId}
      AND reservation_date = #{reservationDate}
      AND reservation_time = #{reservationTime}
      AND reservation_status = 0  -- 未報到或有效預約
    ]]>
	</select>

	<!-- 刪除訂位 -->
	<delete id="deleteReservation">
		DELETE FROM reservation
		WHERE reservation_date =
		#{reservationDate}
		AND reservation_phone = #{reservationPhone}
	</delete>

     <!-- 查詢某一天之資訊桌位、預約資訊 -->
	<select id="findReservationsByDate"
		resultMap="ReservationAndTableByDateResultMap">
		SELECT
		t.table_id,
		t.capacity,
		COALESCE(d.table_daily_status,
		1) AS table_daily_status,
		r.reservation_date,
		r.reservation_time,
		r.reservation_phone,
		r.reservation_name,
		r.reservation_count,
		r.reservation_adult_count,
		r.reservation_child_count,
		r.reservation_status,
		r.reservation_note,
		r.child_seat

		FROM tables t

		LEFT JOIN table_daily d
		ON t.table_id = d.table_id AND d.table_daily_date =
		#{reservationDate}

		LEFT JOIN reservation r
		ON t.table_id = r.table_id AND r.reservation_date =
		#{reservationDate}
		ORDER BY t.table_id, r.reservation_time
	</select>


	<!-- 查詢同一天某時段之資訊桌位、預約資訊 -->
	<select id="findTableStatusByTimeSlot"
		resultType="com.example.GroupProject.dto.ReservationAndTableByDate">
		SELECT
		t.table_id,
		t.capacity,
		COALESCE(d.table_daily_status,
		1) AS
		table_daily_status,
		r.reservation_date,
		r.reservation_time,
		r.reservation_phone,
		r.reservation_name,
		r.reservation_count,
		r.reservation_adult_count,
		r.reservation_child_count,
		r.reservation_status,
		r.child_seat,
		r.reservation_note,

		CASE
		WHEN
		COALESCE(d.table_daily_status, 1) = 0 THEN '未開放'
		WHEN r.table_id
		IS NOT
		NULL AND r.reservation_status = TRUE THEN '使用中'
		WHEN r.table_id
		IS NOT
		NULL THEN '已預約'
		ELSE '可預約'
		END AS table_status

		FROM tables t

		LEFT JOIN
		table_daily d
		ON t.table_id = d.table_id
		AND d.table_daily_date =
		#{reservationDate}

		LEFT JOIN reservation r
		ON t.table_id = r.table_id
		AND r.reservation_date =
		#{reservationDate}
		AND r.reservation_time =
		#{reservationTime}
		ORDER BY
		t.table_id;
	</select>

</mapper>