<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.GroupProject.dao.WorkStationDao">

	<insert id="addWorkStation">
		insert into workstation(workstation_name) values (#{workStationName})
	</insert>
	
	<select id="getWorkStationList">
		select * from workstation
	</select>
	
	<delete id="deleteWorkStation">
		delete from workstation where workstation_id = #{workStationId}
	</delete>
	
</mapper>